* {
    margin: 0;
    padding: 0;
}

:root {
    --body-fonts: Arial, Helvetica, sans-serif;

    --color-thead: #eaecf0;
    --color-hover-link: rgba(36, 80, 80, 0.428);
    --color-cabecalho-mudanca: green;
}
body {
    font-family: var(--body-fonts);
    margin: auto;
}


table {
    width: 150px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
}
thead > tr > th {
    font-weight: bold;
    text-align: center;
    background-color: var(--color-thead);
    border: 1px solid black;
    padding: 5px;

}

tbody > tr > td{
    text-align: center;
}

tbody > tr > td > a{
    text-decoration: none;
    color: black;
}

tbody > tr > td > a:hover {
    text-decoration: underline;
    color: var(--color-hover-link);
}
.iframe {
    display: none;
}

td {
    border: 1px solid black;
    padding: 10px;
    
}

.tabela-mudanca {
    color: var(--color-cabecalho-mudanca)
}

.bandeira {
    border: 1px solid #eaecf0;
    height: 10px;
}