* {
    margin: 0;
    padding: 0;
}

:root {
    --body-fonts: Arial, Helvetica, sans-serif;
}
body {
    font-family: var(--body-fonts);
}


table {
    width: 150px;
    border-collapse: collapse;
}
thead > tr > th {
    font-weight: bold;
    text-align: center;
    background-color: #eaecf0;
    border: 1px solid black;
    padding: 5px;

}

tbody > tr > td{
    text-align: center;
}

tbody > tr > td > a{
    text-decoration: none;
    color: black;
}

tbody > tr > td > a:hover {
    text-decoration: underline;
    color:rgba(36, 80, 80, 0.428);
}
.iframe {
    display: none;
}

td {
    border: 1px solid black;
    padding: 10px;
    
}

td:hover .iframe {
    display: block;
    text-decoration: underline;
    color:rgba(36, 80, 80, 0.428);
    padding: 0px;
    
}

.tabela-mudanca {
    color: green;
}

.bandeira {
    border: 1px solid #eaecf0;
    height: 10px;
}