* {
    margin: 0;
    padding: 0;
}

:root {
    --body-fonts: Arial, Helvetica, sans-serif;

    --color-thead: #C1D0F0;
    --color-hover-link: #384B70;
    --color-cabecalho-mudanca: green;
    --color-tabela-cabecalho: #313947;
    --color-tabela-zebrado: #9FBAF0;
    --color-texto-tabela: black;
}
body {
    font-family: var(--body-fonts);
    margin: auto;
    padding-bottom: 20px;
}


table {
    width: 150px;
    border-collapse: collapse;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

caption{
    font-size: 1.5em;
    font-weight: bold;
    padding: 10px;
    background-color: var(--color-tabela-cabecalho);
}

tbody > tr:nth-child(2n) {
    background-color:var(--color-tabela-zebrado);
}

thead > tr > th {
    position: sticky;
    top:0;
}

thead > tr > th, tfoot  {
    font-weight: bold;
    text-align: center;
    background-color: var(--color-thead);
    border: 1px solid black;
    padding: 5px;

}

tbody > tr > td{
    text-align: center;
}

tbody > tr > td > a{
    text-decoration: none;
    color: var(--color-texto-tabela);
}


tbody > tr > td > a:hover {
    text-decoration: underline;
    color: var(--color-hover-link);
}
.iframe {
    display: none;
}

td {
    border: 1px solid black;
    padding: 10px;
    
}

.tabela-mudanca {
    color: var(--color-cabecalho-mudanca)
}

.bandeira {
    border: 1px solid #eaecf0;
    height: 10px;
}

.footer-wrap {
    padding: 10px;
}

.campo_cabecalho {
     text-align: center; 

}

