* {
    margin: 0px;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
}


html, body {
    height: 100vh;
    width: 100vh;
    background-color: black;
}


body {
    background-image: url(./pacote-d013/imagens/fundo-madeira.jpg);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    background-attachment: fixed;


}
main {
    height: 100vh;
    position: relative;

}

iframe#tela {
    position: relative;
    left: 22px;
    top: 50px;
    height: 50px;
    /* background-size: cover; */
}

#imagem-celular {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 311px;
    height: 627px;
    transform: translate(-50%, -50%);


    background-image: url(./pacote-d013/imagens/frame-iphone.png);
    background-repeat: no-repeat;
    
    
}


.imagem1 {
    background-image: url(./pacote-d013/imagens/logo-home.jpg);
    width: 4rem;
    height: 4rem;
    border-radius: 50px;
    background-position: right;
    background-size: cover;


}

.imagem2 {
    background-image: url(./pacote-d013/imagens/logo-youtube.jpg);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    border-radius: 50%;
}

.imagem3 {
    background-image: url(./pacote-d013/imagens/logo-github.jpg);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    border-radius: 50%;
}

.imagem4 {
    background-image: url(./pacote-d013/imagens/logo-twitter.jpg);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    border-radius: 50%;
}

.imagem5 {
    background-image: url(./pacote-d013/imagens/logo-facebook.jpg);
    width: 4rem;
    height: 4rem;
    background-size: cover;
    border-radius: 50%;
}


 @media (max-width: 440px) {

.row-logo-social-media {
    display: flex;
    justify-content: center;
    align-items: center;
    
 
} 
    }

