@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Kaushan+Script&family=Lora:ital,wght@0,400..700;1,400..700&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
    margin: 0;
    padding: 0;
}

header {
    background-color: black;
}
.header-poema{
    color: white;
    padding: 20px;
    text-align: center;
}

p {
    
}
.quebrando-linha {
    display: block;
    padding: 0;
}

.parallax-efecct-section{
    
    padding: 10px;
    margin: auto;
    height: auto;
    font-size: 1em;
    font-family:'Lora', sans-serif;
    
}


#parallax-efecct-2 {
    box-shadow: 3px 5px 4px black;
    background-image: url(./imagens/background001.jpg);
    min-height: 200px;
    max-height: 500px;
    color: white;

    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
}

.parallax-efecct-text {
    
    background-image: linear-gradient(to left top, rgba(0, 0, 0, 0.055), rgba(0, 0, 0, 0.311));
}

#parallax-efecct-5{
    box-shadow: 3px 5px 4px black;
    background-image: url(./imagens/background002.jpg);
    min-height: 200px;
    max-height: 500px;
    
    display: flex;
    align-items: center;

    color: white;
    font-weight: 500;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}